<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Oops!</title>
    <link rel="stylesheet" href="/css/style404.css">
</head>

<body>
    <div class="row content">
        <div class="col"></div>
        <div class="col">
            <h1>404</h1>
            <h3>Oops! The page is not found</h3>
            <a href="/" class="btn btn-primary mt-5">Go Home</a>
        </div>
        <div class="col"></div>
    </div>
</body>

</html>