<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="styleAbout.css">
</head>

<body class="container-fluid">
    <div class=" header">
        <h1 class="headerText">Situs Hoax Terpercaya</h1>
        <h2 class="headerText2">Menjangkau Pelosok Negeri</h2>
    </div>
    <div class="content">
        <h1 class="title">About Us</h1>
        <p class="paragraph">Situs Hoax Terpercaya adalah adalah salah satu media berita hoax online yang
            didirikan pada
            hari Jumat, 29 Januari 2021. Pada awalnya, situs hoax terpercaya hadir pada project kecil untuk membuat
            portal berita pada kelas pagi fullstack developer dari dengan fasilitator Mas Nanda Nugraha. Kelas fullstack
            developer ini merupakan salah satu program bootcamp Synrgy Academy atas kerja sama antara Binar Academy
            dengan BCA Group. Situs Hoax Terpercaya diprakarsai dan dipimpin oleh Ahmad Saufi Maulana.
        </p>
        <h3 class="subTitle">Latar Belakang</h3>
        <p class="paragraph">Seiring dengan perkembangan teknologi digital yang sangat masif, membuat orang mudah
            mengakses
            suatu informasi melalui smartphone atau hanya dalam genggaman. Hal tersebut juga menyebabkan banyak sekali
            berita-berita yang hadir tanpa didasarkan atas fakta (hoax). Pada masa pandemi ini, banyak orang semakin
            bergantung pada gadget untuk dapat terhubung antara satu dengan yang lainnya dan menghabiskan waktunya untuk
            melihat informasi dalam gadgetnya. Oleh karena itu, banyak orang yang mudah percaya dengan berita hoax yang
            ia akses melalui gadgetnya dan seringkali dapat menyesatkan banyak orang. Tujuan dari didirikannya situs
            hoax terpercaya ini adalah untuk memberikan edukasi kepada masyarakat mengenai berita-berita hoax yang
            sering beredar diantara kita. Untuk
            memenuhi kebutuhan masyarakat,
            situs hoax terpercaya akan terus mengembangkan dan memberikan pelayanan yang maksimal. Dalam proses
            pengembangannya, Situs
            Hoax Terpercaya diharapkan dapat mewujudkan taglinenya untuk mengedukasi
            masyarakat hingga ke pelosok negeri.</p>
        <h1 class="title">Achievement</h1>
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
                <div class="card h-100">
                    <img src="pict/achievement1.png" class="card-img-top" alt="Achievement 1">
                    <div class="card-body text-white bg-dark">
                        <p class="card-text">Portal berita hoax nomor 1</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img src="pict/achievement2.svg" class="card-img-top" alt="Achievement 2">
                    <div class="card-body text-white bg-dark">
                        <p class="card-text">Situs hoax yang dapat anda percayai</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img src="pict/achievement3.png" class="card-img-top" alt="Achievement 3">
                    <div class="card-body text-white bg-dark">
                        <p class="card-text">Situs yang mengedukasi masyarakat</p>
                    </div>
                </div>
            </div>
        </div>
        <h1 class="title">Meet Our Teams</h1>
        <div class="card mb-3 border-secondary text-white bg-dark teamCard" style="max-width: 540px;">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="pict/team1.jpg" class="card-img rounded-circle" alt="Upi">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title cardText">Ahmad Saufi Maulana</h5>
                        <p class="card-text cardText">Ahmad Saufi Maulana atau yang biasa dipanggil dengan Upi dari
                            kelas
                            FSW Siang</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mb-3 border-dark teamCard" style="max-width: 540px;">
            <div class="row g-0 team">
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title cardText">Amirul Adlil Hakim</h5>
                        <p class="card-text cardText">Amirul Adlil Hakim atau yang biasa dipanggil dengan Amirul dari
                            kelas FSW Pagi</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <img src="pict/team2.jpeg" class="card-img rounded-circle" alt="Amirul">
                </div>
            </div>
        </div>
        <div class="card mb-3 border-secondary text-white bg-dark teamCard" style="max-width: 540px;">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="pict/team3.jpeg" class="card-img rounded-circle" alt="Zhafran">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title cardText">Zhafran Ammar</h5>
                        <p class="card-text cardText">Zhafran Ammar atau yang biasa dipanggil dengan Zhafran dari kelas
                            FSW Pagi</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mb-3 border-dark teamCard" style="max-width: 540px;">
            <div class="row g-0 team">
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title cardText">Chania Evangelista</h5>
                        <p class="card-text cardText">Chania Evangelista atau yang biasa disebut dengan Chania dari
                            kelas FSW Pagi</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <img src="pict/team4.jpg" class="card-img rounded-circle" alt="Chania">
                </div>
            </div>
        </div>
        <h1 class="title">Contact Us</h1>
        <div class="commentAll">


            <div class="comment">
                <h3>Comment</h3><br>
                <div class="mb-3">
                    <label for="emailForm" class="form-label">Email address</label>
                    <input type="email" class="form-control emailForm" placeholder="name@example.com">
                </div>
                <div class="mb-3">
                    <label for="textForm" class="form-label">Text</label>
                    <textarea class="form-control textForm" rows="3" placeholder="Insert Text"></textarea>
                </div>
                <div class="col-12">
                    <button type="submit" class="btn btn-outline-info submitBtn" onclick="addComment()">Submit</button>
                </div>
                <hr>
            </div>
            <div class="comment-Edit" role="aria-hidden">
                <h3> Edit Comment</h3><br>
                <div class="mb-3">
                    <label for="emailForm" class="form-label">Email address</label>
                    <input type="email" class="form-control emailEditForm" placeholder="name@example.com">
                </div>
                <div class="mb-3">
                    <label for="textForm" class="form-label">Text</label>
                    <textarea class="form-control textEditForm" rows="3" placeholder="Insert Text"></textarea>
                </div>
                <div class="col-12">
                    <button type="submit" class="btn btn-outline-info submitEditBtn"
                        onclick="editComment()">Submit</button>
                </div>
                <hr>
                <div class="commentEditOutput">

                </div>
            </div>
            <div class="commentOutput">

            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="JSFile.js"></script>
    <script>
        $(".comment-Edit").hide();
    </script>
</body>

</html>