<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Situs Hoax Terpercaya</title>
    <link rel="stylesheet" href="style.css">
</head>

<body class="container-sm">
    <div class="header">
        <h3 class="blog-title">Situs Hoax Terpercaya</h3>
        <div class="menu">
            <a href="">Home</a>
            <a href="">About</a>
        </div>


    </div>

    <div class="row">
        <div class="conten col-6">
            <p class="paragraph">

            <h3>Penyanyi Fenomenal Meninggal Saat . . . </h3>
            <h4><b>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit voluptatum deserunt molestiae, sed
                    animi et laboriosam? Maxime perspiciatis excepturi aut culpa sit quas modi, tenetur rerum
                    dignissimos repellat in maiores! Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi
                    odio consequatur expedita magnam ut molestias sapiente quaerat atque, aliquam eos officia
                    necessitatibus saepe ullam recusandae veniam earum. Aliquid, placeat accusamus?
                </b></h4>
            </p>

            <button type="button" class="btn btn-primary">Baca Lebih Lanjut</button>


        </div>
        <div class="col">
            <img src="https://photo.jpnn.com/arsip/watermark/2019/12/06/ilustrasi-mayat-foto-dokumen-jpnncom-53.jpg"
                width="545px" height="442px" alt="">
        </div>
        <div class="row">
            <div class="conten col-6">
                <h4> ABC DEF</h4>
                <p class="paragraph2">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquid, velit! Enim, eaque illo! Quisquam
                    distinctio, iure non ipsum animi laborum libero excepturi saepe, error rem accusamus vitae soluta
                    dolorem facere?
                </p>


            </div>
            <div class="col-6">
                <h4> ABC DEF</h4>
                <p class="paragraph2">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sunt dolorem deserunt
                    fugit doloribus alias
                    rerum iste modi, consequuntur eos maxime rem doloremque maiores sint accusantium beatae ipsa ratione
                    perspiciatis minus?</p>
            </div>


        </div>

    </div>
    >
</body>

</html>